{% extends 'course/base/base.html' %}
{% load static %}
{% block register_content %}
    <div class="container">
        <!-- Login Form -->
        <div class="bg-secondary rounded p-5">
            <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Sing up</h3>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" name="email" class="form-control border-0" id="email">
                </div>
                <div class="form-group">
                    <label for="username">Username *</label>
                    <input type="text" name="username" class="form-control border-0" id="username">
                </div>
                <div class="form-group">
                    <label for="date_of_birth">Date of birth *</label>
                    <input type="date" name="date_of_birth" class="form-control border-0" id="date_of_birth">
                </div>
                <div class="form-group">
                    <label for="password">Password *</label>
                    <input type="password" name="password" class="form-control border-0" id="password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password *</label>
                    <input type="password" name="confirm_password" class="form-control border-0" id="confirm_password">
                </div>
                <div class="form-group">
                    <label for="image">Image *</label>
                    <input type="file" name="image" class="form-control border-0" id="image">
                </div>
                <div class="d-flex">
                    <div class="form-group mb-0 mr-2">
                        <input type="submit" value="Sign up"
                               class="btn btn-outline-primary py-md-2 px-md-4 font-weight-semi-bold">
                    </div>
                    <div class="form-group mb-0 mr-2">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                            <input type="button" value="Sign up using Google"
                                   class="btn btn-outline-primary py-md-2 px-md-4 font-weight-semi-bold">
                        </a>
                    </div>
                    <div class="form-group mb-0 mr-2">
                        <a href="{% url 'login' %}">
                            <input type="button" value="I have an account"
                                   class="btn btn-outline-primary py-md-2 px-md-4 font-weight-semi-bold">
                        </a>
                    </div>

                </div>

            </form>
        </div>
    </div>
{% endblock %}