{% extends 'course/base/base.html' %}
{% load static %}
{% block teachers_content %}
    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teachers</h5>
                <h1>Our Best Teachers</h1>
            </div>
            <div class="row">
                {% for teacher in teachers %}
                    <div class="col-md-6 col-lg-3 text-center team mb-4">
                    <div class="team-item rounded overflow-hidden mb-2">
                        <div class="team-img position-relative">
                            <img class="img-fluid" src="{{ teacher.image.url }}" alt="">
                            <div class="team-social">
                                <a class="btn btn-outline-light btn-square mx-1" href="{{ teacher.instagram_url }}"><i class="fab fa-instagram"></i></a>
                                <a class="btn btn-outline-light btn-square mx-1" href="{{teacher.telegram_url}}"><i
                                        class="fab fa-telegram"></i></a>
                            </div>
                        </div>
                        <div class="bg-secondary p-4">
                            <h5>{{ teacher.full_name}}</h5>
                            {% for course in teacher.courses %}
                                <p class="m-0">{{ course.category_id}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock %}