{% extends 'course/base/base.html' %}
{% load static %}
{% block blog_content %}

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Blog</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Blog</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row pb-3">
                        {% for blog in blogs %}
                            <div class="col-lg-6 mb-4">
                                <div class="blog-item position-relative overflow-hidden rounded mb-2">

                                    <img class="img-fluid" src="{{ blog.image.url }}" alt="">

                                    <a class="blog-overlay text-decoration-none" href="{% url 'blog_detail' blog.id %}">
                                        <h5 class="text-white mb-3">{{ blog.title }}</h5>
                                        <p class="text-primary m-0">{{ blog.created_at }}</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination pagination-lg justify-content-center mb-0">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">

                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">Previous</span>
                                            </a>

                                        </li>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <li class="page-item active"><a class="page-link"
                                                                            href="?page={{ num }}">{{ num }}</a></li>
                                        {% else %}
                                            <li class="page-item "><a class="page-link"
                                                                      href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                               aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">
                        <img src="{% static 'course/img/user.jpg' %}" class="img-fluid rounded-circle mx-auto mb-3"
                             style="width: 100px;">
                        <h3 class="text-primary mb-3">John Doe</h3>
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                        <p class="text-white m-0">Conset elitr erat vero dolor ipsum et diam, eos dolor lorem, ipsum sit
                            no ut est ipsum erat kasd amet elitr</p>
                    </div>

                    <!-- Search Form -->
                    <div class="mb-5">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Keyword">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent text-primary"><i
                                            class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Category List -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                        <ul class="list-group list-group-flush">
                            {% for category in categories %}

                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    <a href="{% url 'category_detail' category.id %}"
                                       class="text-decoration-none h6 m-0">{{ category.title }}</a>
                                    <span class="badge badge-primary badge-pill">{{ category.num_blogs }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Recent Post -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                        {% for blog in blogs %}
                            <a class="d-flex align-items-center text-decoration-none mb-3" href="">
                                <img class="img-fluid rounded" width="100" src="{{ blog.image.url }}" alt="">
                                <div class="pl-3">
                                    <h6 class="m-1">{{ blog.title }}</h6>
                                    <small>{{ blog.created_at }}</small>
                                </div>
                            </a>
                        {% endfor %}

                    </div>

                    <!-- Tag Cloud -->
                    <div class="mb-5">
                        <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                        <div class="d-flex flex-wrap m-n1">
                            {% for category in categories %}
                                <a href="?filter={{ category.id }}"
                                   class="btn btn-outline-primary m-1">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}