{% extends 'course/base/base.html' %}
{% load static %}
{% block blog_detail_content %}
    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Blog</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Blog</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Teacher Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ blog.image.url }}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">{{ blog.teacher_id }}</h5>
                        <h1>{{ blog.title }}</h1>
                    </div>
                    <p>{{ blog.body }}</p>
                    <a href="{% url 'edit_blog' blog.id %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Edit</a>
                    <a href="{% url 'delete_blog' blog.id %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Teacher End -->
{% endblock %}